torch
torchvision
wandb
hydra-core
pyyaml
omegaconf
colorama
tqdm
opencv-python
matplotlib
lightning
click
moviepy
imageio
einops
wandb-osh
diffusers
internetarchive
pytorchvideo
scipy
rotary_embedding_torch
torchmetrics[image]==0.11.4
